In [56]:
import pandas as pd
import numpy as np

In [57]:
pwd

'm:\\Data science career\\machine learning\\DataCleaning'

In [58]:
df = pd.read_csv('datasets\data-example2.csv')

df

    x1  x2   x3  x4    x5    x6         x7
0  1.0   2  5.0   0   4.0   NaN         10
1  1.0  15  NaN   1  16.0   2.0          ?
2  NaN   3  1.0   2   3.2   4.0          2
3  5.0   4  6.0   8   1.0   NaN          ?
4  7.0   3  NaN   6   5.0  15.0          3
5  2.0   1  6.0   1   1.0   3.0  UNDEFINED

In [59]:
#steps of search about nan values
"""
    1. Check for missing data 
        The first thing I do is check how many rows contain missing values.
    2. Decide based on missing percentage –
        1. If the number of missing rows is small, I remove those rows.
        2. If the percentage of missing data is high, I analyze the columns(features) instead.
"""

'\n    1. Check for missing data \n        The first thing I do is check how many rows contain missing values.\n    2. Decide based on missing percentage –\n        1. If the number of missing rows is small, I remove those rows.\n        2. If the percentage of missing data is high, I analyze the columns(features) instead.\n'

In [60]:
print(df.isna())

      x1     x2     x3     x4     x5     x6     x7
0  False  False  False  False  False   True  False
1  False  False   True  False  False  False  False
2   True  False  False  False  False  False  False
3  False  False  False  False  False   True  False
4  False  False   True  False  False  False  False
5  False  False  False  False  False  False  False

In [61]:
df.replace(
    {
        '?' :np.nan , 
        'UNDEFINED' :np.nan
     
    }
    ,
    inplace=True
)
df

    x1  x2   x3  x4    x5    x6   x7
0  1.0   2  5.0   0   4.0   NaN   10
1  1.0  15  NaN   1  16.0   2.0  NaN
2  NaN   3  1.0   2   3.2   4.0    2
3  5.0   4  6.0   8   1.0   NaN  NaN
4  7.0   3  NaN   6   5.0  15.0    3
5  2.0   1  6.0   1   1.0   3.0  NaN

In [62]:
#claculte percentage of nan for each column 

missing_columns = df.isna().sum() / len(df) *100
print(missing_columns[missing_columns > 0].sort_values(ascending=False))

x7    50.000000
x3    33.333333
x6    33.333333
x1    16.666667
dtype: float64

In [63]:
#claculte percentage of nan for each row 
missing_rows = df.isna().sum(axis=1) / df.shape[1] *100
print(missing_rows[missing_rows > 0].sort_values(ascending=False))

1    28.571429
3    28.571429
0    14.285714
2    14.285714
4    14.285714
5    14.285714
dtype: float64

In [64]:
# delete column has 50% nan 

df = df.drop('x7' , axis=1)

In [65]:
print(df)

    x1  x2   x3  x4    x5    x6
0  1.0   2  5.0   0   4.0   NaN
1  1.0  15  NaN   1  16.0   2.0
2  NaN   3  1.0   2   3.2   4.0
3  5.0   4  6.0   8   1.0   NaN
4  7.0   3  NaN   6   5.0  15.0
5  2.0   1  6.0   1   1.0   3.0

In [66]:
remaining_missing_columns = df.isna().sum() / len(df) * 100
print(remaining_missing_columns[remaining_missing_columns > 0])

x1    16.666667
x3    33.333333
x6    33.333333
dtype: float64

In [67]:
remaining_missing_rows = df.isna().sum() / df.shape[1] * 100
print(remaining_missing_rows[remaining_missing_rows > 0])

x1    16.666667
x3    33.333333
x6    33.333333
dtype: float64

In [68]:
fill_df = df.fillna(method='bfill')
fill_df

C:\Users\mahmod\AppData\Local\Temp\ipykernel_18464\1679096966.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  fill_df = df.fillna(method='bfill')

    x1  x2   x3  x4    x5    x6
0  1.0   2  5.0   0   4.0   2.0
1  1.0  15  1.0   1  16.0   2.0
2  5.0   3  1.0   2   3.2   4.0
3  5.0   4  6.0   8   1.0  15.0
4  7.0   3  6.0   6   5.0  15.0
5  2.0   1  6.0   1   1.0   3.0

In [69]:
df = df.fillna(method='bfill')
df

C:\Users\mahmod\AppData\Local\Temp\ipykernel_18464\3588975764.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.fillna(method='bfill')

    x1  x2   x3  x4    x5    x6
0  1.0   2  5.0   0   4.0   2.0
1  1.0  15  1.0   1  16.0   2.0
2  5.0   3  1.0   2   3.2   4.0
3  5.0   4  6.0   8   1.0  15.0
4  7.0   3  6.0   6   5.0  15.0
5  2.0   1  6.0   1   1.0   3.0

In [70]:
df

    x1  x2   x3  x4    x5    x6
0  1.0   2  5.0   0   4.0   2.0
1  1.0  15  1.0   1  16.0   2.0
2  5.0   3  1.0   2   3.2   4.0
3  5.0   4  6.0   8   1.0  15.0
4  7.0   3  6.0   6   5.0  15.0
5  2.0   1  6.0   1   1.0   3.0

In [71]:
print(df.duplicated().sum())  # Count duplicates

0

In [ ]:
#we fix data succes